@font-face {
    font-family: Baumans;
    font-style: normal;
    font-weight: 400;
    src: local("Baumans Regular"), local("Baumans-Regular"), url(../../../vendor_bundled/vendor/npm-asset/converse.js/dist/webfonts/baumans.ttf) format("truetype")
}

@font-face {
    font-family: Muli;
    font-style: normal;
    font-weight: 400;
    src: local("Muli Regular"), local("Muli-Regular"), url(../../../vendor_bundled/vendor/npm-asset/converse.js/dist/webfonts/muli.ttf) format("truetype")
}

@font-face {
    font-family: ConverseFontAwesomeBrands;
    font-style: normal;
    font-weight: 400;
    src: url(../../../vendor_bundled/vendor/npm-asset/converse.js/dist/webfonts/fa-brands-400.eot);
    src:url(../../../vendor_bundled/vendor/npm-asset/converse.js/dist/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"), url(../../../vendor_bundled/vendor/npm-asset/converse.js/dist/webfonts/fa-brands-400.woff2) format("woff2"), url(../../../vendor_bundled/vendor/npm-asset/converse.js/dist/webfonts/fa-brands-400.woff) format("woff"), url(../../../vendor_bundled/vendor/npm-asset/converse.js/dist/webfonts/fa-brands-400.ttf) format("truetype"), url("function(o) {\nvar __t, __p = '';\n__p += '<!-- sass/webfonts/fa-brands-400.svg -->\nmodule.exports = __webpack_public_path__ + \"webfonts/fa-brands-400.svg\";';\nreturn __p\n}#fontawesome") format("svg")
}

@font-face {
    font-family: ConverseFontAwesomeRegular;
    font-style: normal;
    font-weight: 400;
    src: url(../../../vendor_bundled/vendor/npm-asset/converse.js/dist/webfonts/fa-regular-400.eot);
    src:url(../../../vendor_bundled/vendor/npm-asset/converse.js/dist/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"), url(../../../vendor_bundled/vendor/npm-asset/converse.js/dist/webfonts/fa-regular-400.woff2) format("woff2"), url(../../../vendor_bundled/vendor/npm-asset/converse.js/dist/webfonts/fa-regular-400.woff) format("woff"), url(../../../vendor_bundled/vendor/npm-asset/converse.js/dist/webfonts/fa-regular-400.ttf) format("truetype"), url("function(o) {\nvar __t, __p = '';\n__p += '<!-- sass/webfonts/fa-regular-400.svg -->\nmodule.exports = __webpack_public_path__ + \"webfonts/fa-regular-400.svg\";';\nreturn __p\n}#fontawesome") format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: ConverseFontAwesomeSolid;
    font-style: normal;
    font-weight: 900;
    src: url(../../../vendor_bundled/vendor/npm-asset/converse.js/dist/webfonts/fa-solid-900.eot);
    src:url(../../../vendor_bundled/vendor/npm-asset/converse.js/dist/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"), url("function(o) {\nvar __t, __p = '';\n__p += '<!-- sass/webfonts/fa-solid-900.svg -->\nmodule.exports = __webpack_public_path__ + \"webfonts/fa-solid-900.svg\";';\nreturn __p\n}#fontawesome") format("svg"), url(../../../vendor_bundled/vendor/npm-asset/converse.js/dist/webfonts/fa-solid-900.woff2) format("woff2"), url(../../../vendor_bundled/vendor/npm-asset/converse.js/dist/webfonts/fa-solid-900.woff) format("woff"), url(../../../vendor_bundled/vendor/npm-asset/converse.js/dist/webfonts/fa-solid-900.ttf) format("truetype")
}

converse-chat-message[message_type=info] {
    display: none;
}
